*,
::before,
::after {
	margin:0;
	padding: 0;

/* 清除移动端默认的点击高亮显示 */
	-webkit-tap-highlight-color: transparent;
/* 设置所有的盒子的盒模型 */
	-webkit-box-sizing: border-box;
}
body {
	font-size: 14px;
	font-family: 'Microsoft YaHei',sans-serif;
	color: #333
}
input,textarea {
	border: none;
	outline: none;
	/* 清除移动端默认的表单样式 */
	-webkit-appearance:none;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul {
	list-style: none;
}
/* 公共样式 */
/* 浮动 */
.f_left {
	float:left;
}
.f_right {
	float: right;
}
.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}
/* .clearfix::after {
	content: '';
	height: 0;
	display: block;
	visibility: hidden;
	clear:both;
} */
[class^='icon_'] {
	background:url('../images/sprites.png') no-repeat;
	background-size: 200px 200px;
}

/* 头部区域 */
.top_Bar {
	width: 100%;
	height: 45px;
	background:url('../images/header-bg.png') repeat-x;
	background-size: 1px 44px;
	position:absolute;
	z-index: 1;
}
.top_Bar h2 {
	text-align: center;
	font-family: sans-serif;
	font-weight: inherit;
	line-height: 44px;
	font-size: 16px;

}
.top_Bar .icon_back {
	background-position: -20px 0;
	width: 20px;
	height:20px;
	position: absolute;
	top:12px;
	left: 10px;
}
.top_Bar .topBar_search {
	width: 100%;
  	height: 44px;
  	padding: 0 40px;
}
.top_Bar .topBar_search input {
	width: 100%;
	height: 32px;
	border-radius: 5px;
	margin-top: 6px;
	padding-left: 5px;
	border: 1px solid #bfbfbf;
}
.top_Bar .icon_menu{
	background-position: -60px 0;
	width: 20px;
	height: 20px;
	position: absolute;
	top:12px;
	right: 10px;
}
